<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dawn.dawn.novel.mapper.NovelMapper">
    <sql id="selectSql">
        select
            a.id,
            a.title,
            a.cover_image,
            a.author,
            a.description

        from novel a
        <where>
            <if test="param.id != null">
                and a.id = #{param.id}
            </if>
            <if test="param.title != null and param.title != ''">
                and a.title = #{param.title}
            </if>
            <if test="param.coverImage != null and param.coverImage != ''">
                and a.cover_image = #{param.coverImage}
            </if>
            <if test="param.author != null and param.author != ''">
                and a.author = #{param.author}
            </if>
        </where>
    </sql>

   <select id="selectPageRel" resultType="com.dawn.dawn.novel.vo.NovelVO">
        <include refid="selectSql"/>
   </select>

    <select id="selectListRel" resultType="com.dawn.dawn.novel.vo.NovelVO">
        <include refid="selectSql"/>
    </select>

</mapper>

